.colour{
    background-color: grey;
    padding:0px 50px;
    display: flex ;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 0px 50px;
}
.team{
    text-align: center;
    color: red;
}
.card {
  background: white;
  padding: 30px;
  width: 100px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}
.photoshape{
     display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 50%;
  margin-top: 10px;
  border-color:1px solid orange ;
}
.image1{
    width: 100px;
    height: 100px;
}